body {
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#gradient {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#root {
  text-align: center;
}

.movie-list-wrapper {
  margin: 10%;
  height: 700px;
  width: 30%;
  overflow: auto;
  float: right;
}

.movielist-container {
  display: flex;
  flex-direction: column;
  background-color: green;
  width: 100%;
  height: 150vh;
  overflow-y: scroll;
}

.movie-component {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  margin-bottom: -50%;
  display: inline-block;
  background-size: cover;
}
