body {
  text-align: center;
  background-color: #000000;
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  font-family: monospace;
}

.App {
  display: flex;
  flex-direction: row-reverse;
}

#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#root {
  text-align: center;
}

.movie-list-wrapper {
  /* margin: 10%; */
  height: 100vh;
  width: 30%;
  overflow: auto;
  /* float: right; */
  box-shadow: 300px 300px 300px 300px #000000;
}

.movie-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200vh;
  overflow-y: scroll;
}

.movie-component {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-bottom: -50%;
  display: inline-block;
  background-size: cover;
  -o-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -webkit-transition: all .4s linear;
}

.movie-component:hover{
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  transform: scale(1);
}

.search-wrapper {
  margin: 10%;
  height: 700px;
  width: 30%;
  overflow: hidden;
}

.genre-container {
  margin: 30% auto;
  font-weight: bold;
  font-size: 5em;
  color: white;
}

.preview-info {
  color: transparent;
  float: left;
  margin-top: 50%;
  font-weight: bold;
  font-size: 1.7em;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all 3s ease-in-out;
   -moz-transition: all 3s ease-in;
   -o-transition: all 3s ease-in;
   -ms-transition: all 3s ease-in;
   transition: all 3s ease-in;
}

.preview-info-container {
  width: 100%;
  height:100%;
}

.preview-info-container:hover .preview-info {
  color: white;
  float: left;
  margin-top: 50%;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  background-color: black;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in;
   -o-transition: all 0.5s ease-in;
   -ms-transition: all 0.5s ease-in;
   transition: all 0.5s ease-in;
}

ul {
  list-style-type: none;
}

.input-box {
 width: 80%;
 padding: 30px 20px;
 box-sizing: border-box;
 text-align: center;
 font-size: 30px;
}

.to-be-removed {
  margin-top: 10%;
  font-size: 2em;
}

.movie-details-container {
  height: 100%;
  width:22%;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
  margin-top: 10%;
  padding-left: 5%;
  color: white;
}


.selected-image-container {
  height: 21em;
  width: 15em;
  background-size: cover;
  -webkit-box-shadow: 20px 20px 20px #000000;
  -moz-box-shadow: 20px 20px 20px #000000;
  box-shadow: 20px 20px 20px #000000;
}

@media only screen and (max-width: 600px) {

      .movie-details-container img{
        /* visibility: hidden; */
        width: 200%;
      }

      .movie-details-container p {
        font-size: 0.7em;
      }

      .search-wrapper {
        visibility: hidden;
      }
      .movie-list-wrapper {
        /* margin: 10%; */
        height: 100vh;
        width: 100%;
        overflow: auto;
        float: right;
      }

      .movie-list-container {
        display: flex;
        flex-direction: column;
        background-color: green;
        width: 100%;
        height: 200vh;
        overflow-y: scroll;
      }

      .movie-component {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin-bottom: -50%;
        display: inline-block;
        background-size: cover;
        -o-transition: all .4s linear;
        -moz-transition: all .4s linear;
        -webkit-transition: all .4s linear;
      }

      .movie-component:hover{
        height: 100%;
        width: 100%;
        margin-bottom: 0;
        transform: scale(1);
      }

      .preview-info-container:hover .preview-info {
        color: white;
        float: left;
        margin-top: 40%;
        font-weight: bold;
        font-size: 0.8em;
        text-align: left;
        background-color: black;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in;
         -o-transition: all 0.5s ease-in;
         -ms-transition: all 0.5s ease-in;
         transition: all 0.5s ease-in;
      }

      .preview-info {
        color: transparent;
        float: left;
        margin-top: 10%;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        -webkit-transition: all 3s ease-in-out;
         -moz-transition: all 3s ease-in;
         -o-transition: all 3s ease-in;
         -ms-transition: all 3s ease-in;
         transition: all 3s ease-in;
      }
  }
