html {
  height: 100%;
  width: 100%;
  margin-right:  0;
  padding: 0;
  overflow-y: hidden;
}


body {
  text-align: center;
  background-color: #000000;
  padding: 0px;
  margin: 0;
  font-family: monospace;
}


#root {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.App {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
}


.movie-list-wrapper {
  /* margin-top: 8%; */
  display: inline-block;
  height: 100vh;
  width: 140%;
  overflow-y: scroll;
}

.movie-list-container {
  position: relative;
  /* margin: 5%; */
  padding: 0;
  height: 50vh ;
  display: block;
}

.movie-component {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-bottom: -50%;
  display: inline-block;
  background-size: cover;
  -o-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -webkit-transition: all .4s linear;
}

.movie-component:hover{
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  transform: scale(1);
  display: inline-block;
}

.search-wrapper {
  margin: 13% 12%;
  height: 60vh;
  width: 60%;
  overflow: hidden;
}

.genre-component {
  margin: 0;
  padding: 0;
}

.genre-container {
  margin: 0;
  font-weight: bold;
  font-size: 400%;
  color: white;
}

.preview-info {
  color: transparent;
  float: left;
  margin-top: 50%;
  font-weight: bold;
  font-size: 1.7em;
  text-align: left;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 3s ease-in-out;
   -moz-transition: all 3s ease-in;
   -o-transition: all 3s ease-in;
   -ms-transition: all 3s ease-in;
   transition: all 3s ease-in;
}

.preview-info-container {
  width: 100%;
  height:100%;
  display: inline-block;
}

.preview-info-container:hover .preview-info {
  color: white;
  float: left;
  margin-top: 50%;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  background-color: black;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in;
   -o-transition: all 0.5s ease-in;
   -ms-transition: all 0.5s ease-in;
   transition: all 0.5s ease-in;
}

ul {
  list-style-type: none;
}

.input-box {
 width: 80%;
 padding: 30px 20px;
 box-sizing: border-box;
 text-align: center;
 font-size: 30px;
}

.to-be-removed {
  margin-top: 10%;
  font-size: 2em;
}

.movie-details-container {
  height: 100%;
  width:22%;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
  margin-top: 10%;
  margin-right: 10%;
  color: white;
}


.selected-image-container {
  height: 21em;
  width: 15em;
  background-size: cover;
  -webkit-box-shadow: 20px 20px 20px #000000;
  -moz-box-shadow: 20px 20px 20px #000000;
  box-shadow: 20px 20px 20px #000000;
}
