@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900');

html {
  height: 100%;
  width: 100%;
  margin-right:  0;
  padding: 0;
  overflow-y: hidden;

}


body {
  text-align: center;
  background-color: #000000;
  padding: 0px;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


#root {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.App {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
}


.movie-list-wrapper {
  /* margin-top: 8%; */
  display: inline-block;
  min-height: 100vh;
  max-width: 40%;
  min-width: 40%;
  overflow-y: scroll;
}

.movie-list-container {
  position: relative;
  /* margin: 5%; */
  padding: 0;
  height: 70vh ;
  display: block;
}

.movie-component {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-bottom: -50%;
  display: inline-block;
  background-size: cover;
  -o-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -webkit-transition: all .4s linear;
}

.movie-component:hover{
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  transform: scale(1);
  display: inline-block;
}


.preview-info {
  color: transparent;
  float: left;
  margin-top: 50%;
  font-weight: bold;
  font-size: 1.7em;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all 3s ease-in-out;
   -moz-transition: all 3s ease-in;
   -o-transition: all 3s ease-in;
   -ms-transition: all 3s ease-in;
   transition: all 3s ease-in;
}

.preview-info-container {
  width: 100%;
  height:100%;
}

.preview-info-container:hover .preview-info {
  color: white;
  float: left;
  margin-top: 50%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in;
   -o-transition: all 0.5s ease-in;
   -ms-transition: all 0.5s ease-in;
   transition: all 0.5s ease-in;
}


.genre-component {
  margin: 0% 4%;
  padding: 0;
  font-size: 3em;
  /* visibility: collapse; */
}

.genre-container {
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 21%;
  /* visibility: collapse; */
}

.search-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  overflow: hidden;
}


ul {
  list-style-type: none;
}

.movie-details-container {
  height: 60vh;
  width: 100%;
  font-weight: lighter;
  text-align: left;
  color: white;
}

.selected-image-container {
  width: auto;
  margin: 5% 5% 5% 30%;
  height: 80%;
  width: 40%;
  background-size: cover;
  -webkit-box-shadow: 20px 20px 20px #000000;
  -moz-box-shadow: 20px 20px 20px #000000;
  box-shadow: 20px 20px 20px #000000;
  display: inline-block;
}

.poster {
  margin: 0;
  padding :0;
  width: 100%;
  height: 100%;
}

.search-wrapper {
  height: 100%;
  margin-top: 30%;
  display: inline-block;
  overflow: hidden;
}

.input-box {
  width:100%;
  /* padding: 10px 10px; */
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5em;
  color: white;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

  *:focus {
    outline: none;
  }

  form {
    border-bottom: 1px solid white;
    width: 80%;
    margin-left: 10%;
    padding: 0;
  }

  .movie-data-container {
    margin: 25% 0 0 0;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    position: absolute;
  }

@media only screen and (max-width: 600px) {

      .movie-list-wrapper {
        /* margin: 10%; */
        height: 100vh;
        max-width: 100%;
        min-width: 0;
        /* overflow: auto; */
        float: right;
      }

      .movie-list-container {
        display: flex;
        flex-direction: column;
        background-color: green;
        width: 100%;
        height: 350vh;
        overflow-y: scroll;
      }

      .movie-component {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin-bottom: -60%;
        display: inline-block;
        background-size: cover;
        -o-transition: all .4s linear;
        -moz-transition: all .4s linear;
        -webkit-transition: all .4s linear;
      }

      .movie-component:hover{
        height: 100%;
        width: 100%;
        margin-bottom: 0;
        transform: scale(1);
      }

      .search-details-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        overflow: hidden;
      }

      .genre-container {
        font-weight: bold;
        font-size: 1em;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 10% 5%;
        /* visibility: collapse; */
      }

      .genre-component {
        font-size: 15px;
      }

      .movie-details-container {
        height: 60vh;
        width: 100%;
        align-items: center;
        font-weight: lighter;
        font-size: 1.4em;
        text-align: left;
      }


      .selected-image-container {
        width: auto;
        margin: 0% 0% 0% 0%;
        height: 170%;
        width: 100%;
        background-size: contain;
        -webkit-box-shadow: 20px 20px 20px #000000;
        -moz-box-shadow: 20px 20px 20px #000000;
        box-shadow: 20px 20px 20px #000000;
        display: inline-block;
      }

      .movie-data-container {
        font-size: 1em;
        margin: 90% 10%;
      }

      .input-box {
        font-size: 0.8em;
      }

      .search-wrapper {
        position: absolute;
        margin: 0;
        height: 5%;
        width:100%;
      }
    }

@media only screen and ( min-width: 600px) {
  .movie-list-wrapper {
    /* margin: 10%; */
    height: 100vh;
    width: 170%;
    /* overflow: auto; */
    float: right;
  }

  .movie-list-container {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 100%;
    height: 200vh;
    overflow-y: scroll;
  }

  .movie-component {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: -50%;
    display: inline-block;
    background-size: cover;
    -o-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
  }

  .movie-component:hover{
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    transform: scale(1);
  }

  .genre-container {
    font-weight: bold;
    font-size: 1em;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 1% 5%;
    /* visibility: collapse; */
  }

  .genre-component {
    font-size: 15px;
  }

  .movie-details-container {
    height: 60vh;
    width: 100%;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    text-align: left;
    color: white;
  }


  .selected-image-container {
    width: auto;
    margin: 10% 5% 0% 30%;
    align-items: center;
    height: 70%;
    width: 30%;
    background-size: cover;
    -webkit-box-shadow: 20px 20px 20px #000000;
    -moz-box-shadow: 20px 20px 20px #000000;
    box-shadow: 20px 20px 20px #000000;
    display: inline-block;
  }

}
